@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

p {
    color: #727272;
}

.container {
    width: 100%;
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
}


/* SIDEBAR ELEMENTS */

.sidebar {
    position: sticky;
    top: 0;

    grid-column: 1;
    grid-row: 1 / span 2;

    color: #fff;
    background-color: #34d399;

    display: grid;
    align-content: start;
    row-gap: 50px;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon, .category-icon {
    fill: #fff;
}

.logo-icon {
    height: 40px;
    width: 40px;
    margin-right: 0.5rem;
}

.avatar {
    height: 45px;
    width: 45px;
    background-color: #34d399;

    border-radius: 50%;
}

.category-menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 5px 10px;
}

.category-item {
    display: flex;
    align-items: center;
    font-size: 95%;
    font-weight: 600;
    cursor: pointer;
    color: inherit;
}

.category-item:hover {
    opacity: 0.8;
}

.category-icon {
    width: 17.5px;
    height: 17.5px;
    margin-right: 1rem;
}


/* HEADER ELEMENTS */

.header {
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: auto;
    padding: 15px 30px;
    gap: 30px;

}

.search-bar {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-icon {
    height: 25px;
    width: 25px;
    margin-right: 1rem;
}

.search-box  input{
    flex: 1;
    appearance: none;
    border: none;
    background-color: #f1f5f9;
    padding: 8px 16px;
    font-size: 95%;

    border-radius: 25px;
}

.search-box  input:focus{
    outline: none;
}

.search-items {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search-items > * {
    margin-right: 25px;
}


.user-info {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;

    align-items: center;
 }
 
 .user-info .avatar{
    height: 60px;
    width: 60px;

    background-color: #34d399;
 }

 .buttons {
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buttons button {
    appearance: none;
    margin-right: 25px;
    align-self: center;
    justify-self: center;
    padding: 12px 0px;
    width: 100px;
    border: none;
    border-radius: 25px;
    
    background-color: #34d399;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
}
 

/* MAIN-CONTENT */
.main-content {
    background-color: #f1f5f9;
    padding: 2rem 1.5rem;

    display: grid;
    grid-template-columns: 1fr 280px;
    grid-auto-rows: auto;
    gap: 2rem 1.5rem;

    box-shadow: -1px 5px 5px -2px inset #dbdbdb;
}

.projects {
    grid-row: 1 / span 2;
}

.projects > h3 {
    margin-bottom: 0.5rem;
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.project-card {
    height: 210px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.5rem 1.5rem 1.5rem 1.25rem;
    border-left: #34d399 5px solid;
}

.project-card .title {
    margin-bottom: 0.5rem;
}

.project-card .icons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: right;
    justify-content: right;
    gap: 1.5rem;
}

.project-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: #2e2e2e;
}


.card {
    border-radius: 5px;
    box-shadow: 4px 5px 5px -2px #dbdbdb;
    
    background-color: #fff;
}

.list, .accounts {
    padding: 1.5rem 1.5rem;
}

.announcement:not(.announcement:last-child)::after {
    display: block;    
    content: '';
    width: 100%;
    border-bottom: 2px solid #e2e2e2;
    margin: 1rem 0;
}

.announcement > .info{
    padding: 4px 5px;
}

.announcement .desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-size: 85%;
}

.announcements > h3 {
    margin-bottom: 0.5rem;
}


.trending > h3{
    margin-bottom: 0.5rem;
}

.accounts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
}

.account {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    align-items: center;
}

.account .avatar {
    grid-row: 1 / span 2;
}

.account-desc {
    align-self: start;
    font-size: 95%;
}

.account-name {
    align-self: center;
    font-weight: 400;
    font-size: 95%;
}