@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


.container {

    width: 100%;
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
}


/* SIDEBAR ELEMENTS */

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;

    color: #fff;
    background-color: #34d399;

    display: grid;
    align-content: start;
    row-gap: 50px;
    padding: 15px;
}



/* HEADER ELEMENTS */

.header {
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-auto-rows: auto;
    padding: 15px 30px;
    gap: 30px;
}

.search-bar {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.search-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-items > * {
    margin-right: 25px;
}


.user-info {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
 
 }
 
 .user-info .icon-1{
     grid-row: 1 / span 2;
 }

 .buttons {
 
    display: flex;
    flex-wrap: wrap;
}

.buttons button {
    appearance: none;
    margin-right: 25px;
    align-self: center;
    justify-self: center;
    padding: 12px 0px;
    width: 90px;
    border: none;
    border-radius: 25px;
    
}
 

/* MAIN-CONTENT */
.main-content {
    background-color: #f1f5f9;
    padding: 1.5rem 1rem;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
    gap: 1.25rem;
}

.projects {
    grid-row: 1 / span 2;
}

.projects > h3 {
    margin-bottom: 0.5rem;
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.project-card { 
    padding: 1.5rem 1.5rem 1.5rem 1.25rem;
    border-left: #34d399 5px solid;
}

.project-card .icons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: right;
    justify-content: right;
    gap: 1.5rem;
}


.card {
    border-radius: 5px;
    box-shadow: 4px 5px 5px -2px #dbdbdb;
    
    background-color: #fff;
}

.list, .accounts {
    padding: 1.5rem 1.5rem;
}

.announcement:not(.announcement:last-child)::after {
    display: block;    
    content: '';
    width: 100%;
    border-bottom: 2px solid #e2e2e2;
    margin: 1rem 0;
}

.announcement > .info{
    padding: 4px 5px;
}

.announcements > h3 {
    margin-bottom: 0.5rem;
}


.trending > h3{
    margin-bottom: 0.5rem;
}

.accounts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.account {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.75rem;
}

.account-photo {
    grid-row: 1 / span 2;
    width: 45px;
    height: 45px;
    background-color: #34d399;
}